.display {
    display: flex;
    grid-column: span 4;
    justify-content: flex-end;
    background-color: #0004;
    align-items: center;
    font-size: 2.2em;
    overflow: hidden;
    padding: 20px;
    
}